aiofiles
Pillow
humanize
hachoir
pyrofork==2.3.45
TgCrypto
dnspython
aiohttp
telethon
psutil
motor==3.6.1
marshmallow==3.14.1
umongo==3.1.0
requests
telethon
#pymongo[srv]==3.12.3
pymongo==4.9.2
cinemagoer==2023.5.1
fuzzywuzzy
python-Levenshtein
# ====================== 💘❤👩‍💻====================================
#    ==> P O W E R E D - B Y - 🤞 L A Z Y D E V E L O P E  R        |
# ==================================================================
